@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Open+Sans:wght@300&display=swap');

html {
    margin: 2rem;
}

header {
    position: relative;
}

h1 {
    position: absolute;
    left: -20px;
}

#heading {
    background-color: rgb(254, 129, 71);
    color: rgb(255, 255, 255);
    width: 20rem;
    font-size: 80px;
    font-weight: bold;
    text-align: end;
    font-family: "Gabarito";
    position: absolute;
    top: -60px;


}

#subheading {
    background-color: rgb(21, 8, 1);
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 13rem;
    margin-left: 10rem;
    text-align: center;
    font-family: "Open Sans";
    position: absolute;
    top: 76px;


}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 50px;
    font-family: "Gabarito";

}

#top {
    color: white;
    position: absolute;
    bottom: -40px;
    left: 20px;
}

#bot {
    color: rgb(254, 129, 71);
    position: absolute;
    bottom: -90px;
    left: 20px;

}


div#wrapper {

    display: grid;
    grid-template-rows: 2fr 60px auto 2fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header  header"
        ". . "
        "texts boxes"
        "footer footer";

}

@media screen and (max-width: 700px) {
    div#wrapper {
        grid-template-rows: 2fr 60px auto auto 2fr;
        grid-template-columns: auto;
        grid-template-areas: "header" "." "texts" "boxes" "footer";

    }

}

@media screen and (min-width: 700px) {
    #text {
        column-count: 3;

    }
}

header {
    grid-area: header;
}

main {
    grid-area: texts;
    margin-right: 2rem
}

#boxes {
    grid-area: boxes;
    font-family: "Open Sans";
    text-align: start;

}

footer {
    grid-area: footer;
}

#box1 {
    color: white;
    background-color: rgb(254, 129, 71);

}

#box2 {
    background-color: rgb(167, 167, 167);
}